.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}
.clearfix:after {
    clear: both
}
.clearfix {
    *zoom: 1
}
.prettycheckbox,
.prettyradio {
    display: inline-block;
    padding: 0;
    margin: 0
}
.prettycheckbox>a,
.prettyradio>a {
    height: 30px;
    width: 25px;
    display: block;
    float: left;
    cursor: pointer;
    margin: 0;
    background: url('../img/sprites-sfa68604977.png')
}
.prettycheckbox>a:focus,
.prettyradio>a:focus {
    outline: 0 none
}
.prettycheckbox label,
.prettyradio label {
    display: block;
    float: none;
    margin: 6px 5px 6px 0;
    cursor: pointer
}
.prettycheckbox a.disabled,
.prettycheckbox label.disabled,
.prettyradio a.disabled,
.prettyradio label.disabled {
    cursor: not-allowed
}
.prettycheckbox>a {
    background-position: -5px 0;
}
.prettycheckbox>a:focus {
    background-position: -35px 0;
}
.prettycheckbox>a.checked {
    background-position: -65px 0
}
.prettycheckbox>a.checked:focus {
    background-position: -95px 0
}
.prettycheckbox>a.checked.disabled {
    background-position: -155px 0
}
.prettycheckbox>a.disabled {
    background-position: -125px 0
}
.prettyradio>a {
    background-position: -186px 0
}
.prettyradio>a:focus {
    background-position: -216px 0
}
.prettyradio>a.checked {
    background-position: -246px 0
}
.prettyradio>a.checked:focus {
    background-position: -276px 0
}
.prettyradio>a.checked.disabled {
    background-position: -336px 0
}
.prettyradio>a.disabled {
    background-position: -306px 0
}